## MERGE DATAFRAMES

In [2]:
import pandas as pd
temp_df=pd.DataFrame({'place':['Hyderabad','Banglore','Chennai','Delhi'],
                      'Temp':[30,25,40,45]
    
})

temp_df

       place  Temp
0  Hyderabad    30
1   Banglore    25
2    Chennai    40
3      Delhi    45

In [3]:
humidity_df=pd.DataFrame({'place':['Hyderabad','Banglore','Chennai'],
                         'Humidity':[68,65,75]
                         
})


humidity_df

       place  Humidity
0  Hyderabad        68
1   Banglore        65
2    Chennai        75

In [4]:
##merge two dataframes without explicitly mentioning index

df=pd.merge(temp_df,humidity_df,on='place')
df

       place  Temp  Humidity
0  Hyderabad    30        68
1   Banglore    25        65
2    Chennai    40        75

In [5]:
#here we can observe that there is no row for place-Delhi
#This is an inner join
#if we want to mention row of place-Delhi

In [6]:
df=pd.merge(temp_df,humidity_df,on='place',how='outer')
df

       place  Temp  Humidity
0  Hyderabad    30      68.0
1   Banglore    25      65.0
2    Chennai    40      75.0
3      Delhi    45       NaN

In [7]:
#this is an outer join 
#inner and outer join can be seen in SQL