## ATTRIBUTES/METHODS IN A DATAFRAME:

* some of the attributes to be noted in dataframe:
    * T(Transpose)
    * axes
    * dtypes
    * empty
    * ndim
    * shape
    * size
    * values
    * head
    * tail

In [1]:
## create a DataFrame

In [2]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny']
     }
df=pd.DataFrame(data)
df

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy
2    Chennai    40  sunny

## Transpose(T)

This will interchange rows and columns

In [3]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny']
     }
df=pd.DataFrame(data)
df.T

               0         1        2
place  Hyderabad  Banglore  Chennai
Temp          30        25       40
event      Rainy     snowy    sunny

## axes
This will return the row axis labels and column axis labels

In [4]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny']
     }
df=pd.DataFrame(data)
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['place', 'Temp', 'event'], dtype='object')]

## dtypes

This will return the datatypes of each column

In [5]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny']
     }
df=pd.DataFrame(data)
df.dtypes

place    object
Temp      int64
event    object
dtype: object

## empty

This will return a boolean value True/False based on the object value empty or not

In [6]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny']  #object is not empty,so it returns False
     }
df=pd.DataFrame(data)
df.empty

False

## ndim
This will return the no.of dimensions of the object

In [7]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny']  #It returns 2 as the DataFrame structure is a 2D object
     }
df=pd.DataFrame(data)
df.ndim

2

## shape
This will return the dimensionality of the dataframe

In [8]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.shape

(3, 3)

## size
This will return the no.of elements present in a dataframe

In [9]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.size

9

## values
This will return the actual data in a dataframe

In [10]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.values

array([['Hyderabad', 30, 'Rainy'],
       ['Banglore', 25, 'snowy'],
       ['Chennai', 40, 'sunny']], dtype=object)

## head()
This will return the first n rows of the object
`n` may be any number given by the user

In [11]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.head(2)  #here top2 rows are displayed

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy

## tail()
This will return the last n rows of the object
`n` may be any number given by the user

In [12]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.tail(2) #here last2 rows are displayed

      place  Temp  event
1  Banglore    25  snowy
2   Chennai    40  sunny