##  BASIC STATISTICAL FUNCTIONS
   * sum()
   * count()
   * mean()
   * median()
   * mode()
   * std()
   * min()
   * max()
   * abs()
   * prod()
   * cumsum()
   * cumprod()
   * describe()
   * unique()
   * value_counts()
   * info()

### sum()

In [1]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.sum() #default--->axis=0

place    HyderabadBangloreChennai
Temp                           95
event             Rainysnowysunny
dtype: object

### count()

In [2]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.count()

place    3
Temp     3
event    3
dtype: int64

### mean()

In [3]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.mean()

Temp    31.666667
dtype: float64

### median()

In [4]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.median()

Temp    30.0
dtype: float64

### mode()

returns the value which is more often

In [5]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.mode()

       place  Temp  event
0   Banglore    25  Rainy
1    Chennai    30  snowy
2  Hyderabad    40  sunny

In [6]:
data={'mode':[1,2,2,2,4,5,6,3,1,5]}
df=pd.DataFrame(data)
df.mode()

   mode
0     2

### std()

In [7]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.std()

Temp    7.637626
dtype: float64

### min()

In [8]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.min()

place    Banglore
Temp           25
event       Rainy
dtype: object

### max()

In [9]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.max()

place    Hyderabad
Temp            40
event        sunny
dtype: object

### abs()

In [10]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30.1,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.Temp.abs() #abs() applied on one column--Temp

0    30.1
1    25.0
2    40.0
Name: Temp, dtype: float64

### prod()

In [11]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.prod()

Temp    30000
dtype: int64

### cumsum()

In [12]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.cumsum()

                      place Temp            event
0                 Hyderabad   30            Rainy
1         HyderabadBanglore   55       Rainysnowy
2  HyderabadBangloreChennai   95  Rainysnowysunny

In [13]:
data={'a':[1,2,3],
      'b':[2,3,4],
      'c':[3,4,5]}
df=pd.DataFrame(data)
df.cumsum()

   a  b   c
0  1  2   3
1  3  5   7
2  6  9  12

### cumprod()

In [14]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.Temp.cumprod()

0       30
1      750
2    30000
Name: Temp, dtype: int64

In [15]:
data={'a':[1,2,3],
      'b':[2,3,4],
      'c':[3,4,5]}
df=pd.DataFrame(data)
df.cumprod()

   a   b   c
0  1   2   3
1  2   6  12
2  6  24  60

### describe()

It provides the summary of data

In [16]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.describe()

            Temp
count   3.000000
mean   31.666667
std     7.637626
min    25.000000
25%    27.500000
50%    30.000000
75%    35.000000
max    40.000000

### unique()

In [17]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.Temp.unique()

array([30, 25, 40], dtype=int64)

In [18]:
data={'a':[1,2,3],
      'b':[2,3,3],  
      'c':[3,4,5]}
df=pd.DataFrame(data)
df.b.unique()  #provides unique elements of col-b

array([2, 3], dtype=int64)

### value_counts
It counts the no.of unique values

In [19]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.Temp.value_counts()

30    1
25    1
40    1
Name: Temp, dtype: int64

In [20]:
data={'a':[1,2,3],
      'b':[2,3,3],  
      'c':[3,4,5]}
df=pd.DataFrame(data)
df.b.value_counts() #counts the unique values in col-b

3    2
2    1
Name: b, dtype: int64

### info()

In [21]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.info() #provides the information regarding memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
place    3 non-null object
Temp     3 non-null int64
event    3 non-null object
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes