## ACCESSING DATA

In [1]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy
2    Chennai    40  sunny

### Accessing columns

In [2]:
df.columns

Index(['place', 'Temp', 'event'], dtype='object')

### Accessing particular column

In [3]:
df.Temp

0    30
1    25
2    40
Name: Temp, dtype: int64

### Another way of accessing columns

In [4]:
df['Temp']

0    30
1    25
2    40
Name: Temp, dtype: int64

### Accessing Multiple columns

In [5]:
df[['place','event']]

       place  event
0  Hyderabad  Rainy
1   Banglore  snowy
2    Chennai  sunny

In [6]:
df['Temp'].sum()

95