## INDEXING AND SELECTION OF DATA
   * loc()
   * iloc()

In [1]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy
2    Chennai    40  sunny

### Slicing a dataframe

In [2]:
df[:2]  #slicing can be done to retrieve the rows

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy

with the help of loc() and iloc(), we can select certain rows

loc() uses string indices

iloc() uses integers

### loc()
It is a label based indexing

In [3]:
df.loc[1]

place    Banglore
Temp           25
event       snowy
Name: 1, dtype: object

In [4]:
df.loc[:2]   #using index to access data

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy
2    Chennai    40  sunny

### iloc()
It is a integer based indexing

In [5]:
df.iloc[1]

place    Banglore
Temp           25
event       snowy
Name: 1, dtype: object

In [6]:
df.iloc[:2] #which is same as slicing mentioned above

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy