## SORTING OF DATA

   * sort by index
   * sort by value

### sort by index

In [1]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data,index=['c','a','b'])
df

       place  Temp  event
c  Hyderabad    30  Rainy
a   Banglore    25  snowy
b    Chennai    40  sunny

In [2]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data,index=['c','a','b'])
df.sort_index()  ##sort according to index

       place  Temp  event
a   Banglore    25  snowy
b    Chennai    40  sunny
c  Hyderabad    30  Rainy

### sort by value

In [3]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy
2    Chennai    40  sunny

In [4]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.sort_values(by='Temp') #sort according to the col-Temp

       place  Temp  event
1   Banglore    25  snowy
0  Hyderabad    30  Rainy
2    Chennai    40  sunny