## MISSING VALUES
* Missing values occur quite often in Real time Data 
* To handle missing data:
    * Imputation-The values are filled in place of missing data
    * omission-The invalid data present will be discarded
    * Analysis-By directly applying method unaffected by missing values

* In pandas we perform:
    * a.Find missing values
    * b.Replacing missing values

## a.Find Missing values
* Detects the Missing values
   * isnull()
   * notnull()

### isnull()

In [1]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df

       place  Temp  event
0  Hyderabad    30  Rainy
1   Banglore    25  snowy
2    Chennai    40  sunny

In [2]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.isnull() #checks whether missing value is present or not
#Returns False if not present

   place   Temp  event
0  False  False  False
1  False  False  False
2  False  False  False

In [3]:
import numpy as np
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,np.nan,40], #missing value present in Col-Temp so returns False
                            #np.nan or None represent missing values 
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.isnull()

   place   Temp  event
0  False  False  False
1  False   True  False
2  False  False  False

### notnull()

In [4]:
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,25,40],
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.notnull() # checks whether missing value is not present
#Returns True if missing value is not present in data

   place  Temp  event
0   True  True   True
1   True  True   True
2   True  True   True

In [5]:
import numpy as np
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,np.nan,40], #missing value present in Col-Temp so returns True
                            #np.nan or None represent missing values 
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.isnull()

   place   Temp  event
0  False  False  False
1  False   True  False
2  False  False  False

## b.Replacing Missing values
   * fillna()
   * dropna()

### fillna()

It is used to fill missing values using specified method

In [6]:
import numpy as np
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,np.nan,40], #missing value present in Col-Temp 
                            #np.nan or None represent missing values 
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.fillna(0) #replace missing value with value=0

       place  Temp  event
0  Hyderabad  30.0  Rainy
1   Banglore   0.0  snowy
2    Chennai  40.0  sunny

### dropna()
Removes missing values

In [7]:
import numpy as np
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai'],
      'Temp':[30,np.nan,40], #missing value present in Col-Temp 
                            #np.nan or None represent missing values 
      'event':['Rainy','snowy','sunny'] 
     }
df=pd.DataFrame(data)
df.dropna() #drop the row where atleast one element is missing

       place  Temp  event
0  Hyderabad  30.0  Rainy
2    Chennai  40.0  sunny