## GROUPBY

In [1]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai','Delhi'],
     'Temp':[30,25,40,40],
     'event':['sunny','snowy','sunny','sunny']
     }
df=pd.DataFrame(data)
df

       place  Temp  event
0  Hyderabad    30  sunny
1   Banglore    25  snowy
2    Chennai    40  sunny
3      Delhi    40  sunny

In [2]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai','Delhi'],
     'Temp':[30,25,40,40],
     'event':['sunny','snowy','sunny','sunny']
     }
df=pd.DataFrame(data)
grouped=df.groupby(['Temp'])
grouped.groups #to view the groups

{25: Int64Index([1], dtype='int64'),
 30: Int64Index([0], dtype='int64'),
 40: Int64Index([2, 3], dtype='int64')}

In [3]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai','Delhi'],
     'Temp':[30,25,40,40],
     'event':['sunny','snowy','sunny','sunny']
     }
df=pd.DataFrame(data)
grouped=df.groupby(['event'])
grouped.groups #to view the groups

{'snowy': Int64Index([1], dtype='int64'),
 'sunny': Int64Index([0, 2, 3], dtype='int64')}

In [4]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai','Delhi'],
     'Temp':[30,25,40,40],
     'event':['sunny','snowy','sunny','sunny']
     }
df=pd.DataFrame(data)
grouped=df.groupby(['Temp'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002637DF3B400>

In [5]:
df=pd.read_csv('weather.csv')
df

       place  Temp  event
0  Hyderabad    30  sunny
1   Banglore    25  snowy
2    Chennai    40  sunny
3      Delhi    40  sunny

### Iterating through groups

In [6]:
import pandas as pd
data={'place':['Hyderabad','Banglore','Chennai','Delhi'],
     'Temp':[30,25,40,40],
     'event':['sunny','snowy','sunny','sunny']
     }
df=pd.DataFrame(data)
grouped=df.groupby(['Temp'])

for name,group in grouped:
    print(name)
    print(group)

25
      place  Temp  event
1  Banglore    25  snowy
30
       place  Temp  event
0  Hyderabad    30  sunny
40
     place  Temp  event
2  Chennai    40  sunny
3    Delhi    40  sunny